.beige-background {
	background-color: #fffcf9
}

.pink-background {
	background-color: rgb(241, 156, 154)
}

.beige-text {
	color: #8b8378
}

.green-text {
	color: #2c6163
}

.peru-text{
	color: #C4844A
}

.nav-link{
	color: #C4844A
}

.navbar-border {
	border-bottom: black;
    border-bottom-width: 3px;
    border-bottom-style: double;
}