.image-crop {
	object-fit: cover;
}

.image-sm {
	height: 250px;
}

.image-lg {
	height: 400px
}

.btn-outline-beige{
	background-color: #FFF;
	color:#8b8378;
	border-color: #8b8378;
	border-radius: 30px;
}

.btn-outline-beige:hover,
.btn-outline-beige:focus,
.btn-outline-beige:active,
.btn-outline-beige.active,
.open .dropdown-toggle.btn-outline-beige {
	background-color: #8b8378;
	color:#FFF;
	border-color: #8b8378;
 }

 .btn-outline-pink{
	background-color: #FFF;
	color:#2c6163;
	border-color: #2c6163;
	border-width: 3px;
}

.btn-outline-pink:hover,
.btn-outline-pink:focus,
.btn-outline-pink:active,
.btn-outline-pink.active,
.open .dropdown-toggle.btn-outline-pink {
	background-color: #2c6163;
	color:#FFF;
	border-color: #2c6163;
 }

 .d-inherit{
 	display: inherit;
 }