.image-crop {
	object-fit: cover;
}

.image-sm {
	height: 250px;
}

.image-lg {
	height: 400px
}

.btn-outline-peru{
	background-color: #FFF;
	color:#C4844A;
	border-color: #C4844A;
	border-radius: 30px;
}

.btn-outline-peru:peruhover,
.btn-outline-peru:focus,
.btn-outline-peru:active,
.btn-outline-peru.active,
.open .dropdown-toggle.btn-outline-peru {
	background-color: #8b8378;
	color:#FFF;
	border-color: #8b8378;
 }

.btn-outline-green{
	background-color: #FFF;
	color:#2c6163;
	border-color: #2c6163;
	border-width: 1px;
}

.btn-outline-green:hover,
.btn-outline-green:focus,
.btn-outline-green:active,
.btn-outline-green.active,
.open .dropdown-toggle.btn-outline-green {
	background-color: #2c6163;
	color:#FFF;
	border-color: #2c6163;
 }


 .btn-green{
 	background-color: #2c6163;
	color:#FFF;
	border-color: #2c6163;
 }

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
	background-color: #2c615A;
	color:#FFF;
	border-color: #2c6163;
 }


 .d-inherit{
 	display: inherit;
 }
