{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block content %}
	<div class=" m-auto p-0">

		<div class="card-body col-lg-10 col-sm-11 m-auto">
			<div class="row"> 
				<div class="col-lg-6 col-sm-11">
					<h3 class="text-center">{{recipe.name}}</h3>
					<p>Recipe by: {{recipe.owner}}</p>
					<p>"{{recipe.description}}"</p>
				</div>
				<div class="col-lg-6 col-sm-11">
					<img src="{{recipe.image.url}}" class="image-crop image-lg col-12">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">
				<h5 class="navbar-border pb-2 pl-4">Ingredients</h5>
				<ul>
				{% for ingredient in recipe.ingredients.all %}
					 <li>{{ingredient.amount}} {{ingredient.measure}} - {{ingredient.ingredient}}</li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-lg-7">
			    <h5 class="navbar-border pb-2 pl-4">How to Make</h5>
			    <ol class="pr-4 text-justify">
				{% for instruction in recipe.instructions.all %}
					 <li>{{instruction.description}}</li>
					 <br>
				{% endfor %}
				</ol>
			</div>
		</div>
		{% if user == recipe.owner %}
		<a href="{% url 'update-recipe' recipe.slug %}">Edit</a>
	{% endif %}
	</div>
{% endblock content %}