{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block content %}
	<div class=" m-auto p-0">

		<div class="card-body col-lg-10 col-sm-11 m-auto">
			<div class="row"> 
				<div class="col-lg-6 col-sm-11">
					<h3 class="text-center">{{recipe.name}}</h3>
					<p>Recipe by: {{recipe.owner}}</p>
					<p>"{{recipe.description}}"</p>
				</div>
				<div class="col-lg-6 col-sm-11">
					<img src="{{recipe.image.url}}" class="image-crop image-lg col-12">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">
<h5 class="navbar-border pb-2 pl-4">
	Ingredients 
	<div class="float-right ">
		Portion:<input type="number" id="portion" value="1" class="col-6" onkeyup="changeAmounts()">
	</div>
</h5>
				<ul>
{% for ingredient in recipe.ingredients.all %}
	 <li><span id="ingredient-amount-{{ingredient.id}}">{{ingredient.amount}}</span> {{ingredient.measure}} - {{ingredient.ingredient}}</li>
{% endfor %}
				</ul>
			</div>
			<div class="col-lg-7">
			    <h5 class="navbar-border pb-2 pl-4">How to Make</h5>
			    <ol class="pr-4 text-justify">
				{% for instruction in recipe.instructions.all %}
					 <li>{{instruction.description}}</li>
					 <br>
				{% endfor %}
				</ol>
			</div>
		</div>
{% if user == recipe.owner %}
	<a href="{% url 'update-recipe' recipe.slug %}">Edit</a>
{% else %}
	<button class="btn btn-light" id="save-btn" onclick="save()">
		<i class="far fa-save
					{% if saved %}
						pink-text
					{% else %}
						beige-text
					{% endif %}" ></i>
	</button>
{% endif %}
<a href="{% url 'export-recipe' recipe.slug %}">Export</a>

	</div>
<script type="text/javascript">
	
	function save() {
		$.ajax(
	        {
	            type:'GET',
	            url: '{% url "save-recipe" recipe.id %}',
	            error: function(){
	                console.log('error');
	            },
	            success: function(data){
            		if (data.saved){
	            		$("#save-btn").addClass("text-dark");
	            		$("#save-btn").removeClass("text-light");
	            	}else{
	            		$("#save-btn").addClass("text-light");
	            		$("#save-btn").removeClass("text-dark");
	            	}
	                
	            },
	        }
	    );  
	}

	function changeAmounts(){
		portion = $("#portion").val();
		{% for ingredient in recipe.ingredients.all %}
			$("#ingredient-amount-{{ingredient.id}}").html(({{ingredient.amount}}*portion);
		{% endfor %}
	};

</script>
{% endblock content %}

