{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<script type="text/javascript">
        $(function() {
            $(".inline.{{ ingredient_form.prefix }}").formset({
                prefix: "{{ ingredient_form.prefix }}",
            })
            $(".inline.{{ instruction_form.prefix }}").formset({
                prefix: "{{ instruction_form.prefix }}",
            })
        })
    </script>

	<div class="card m-auto col-11 p-0">
		<div class="card-body">
	    	<h2 class="card-title">Edit Recipe</h2>
	        <form action="." method="post" autocomplete="off" enctype="multipart/form-data">
	            {% csrf_token %}
	            <div class="row">
		            <div class="col-lg-4 col-sm-11">
		                {{ form|crispy }}
		            </div>
		       		<div class="col-lg-7 col-sm-11 pl-5 mb-5 ml-5 pl-5">
			            <fieldset>
			                <legend class="card-title">Ingredients</legend>
			                {{ ingredient_form.non_form_errors }}
			                {{ ingredient_form.management_form }}
			                {% for form in ingredient_form %}
			                	{{ form.id }}
			                    <div class="inline {{ ingredient_form.prefix }} row col-12">
			                    	<div class="mr-1">
			                        	{{ form.measure|as_crispy_field }}
			                    	</div>
			                    	<div class="mx-1">
			                        	{{ form.amount|as_crispy_field }}
			                        </div>
			                        <div class="mx-1">
			                        	{{ form.ingredient|as_crispy_field }}
			                        </div>                      
			                    </div>
			                {% endfor %}
			            </fieldset>
			            <fieldset>
			                <legend class="card-title mt-3">Instructions</legend>
			                
			                {{ instruction_form.non_form_errors }}
			                {{ instruction_form.management_form }}
			                {% for form in instruction_form %}
			                	{{ form.id }}
			                    <div class="inline {{ instruction_form.prefix }} row col-12">
			                        {{ form.description|as_crispy_field}}
			                    </div>
			                {% endfor %}
			            </fieldset>
			        </div>
			    </div>
	            <input type="submit" value="Update recipe" class="btn btn-outline-beige col-6 d-inherit m-auto" />
	        </form>
	    </div>
	</div>
{% endblock content %}
